<center>
    <!-- Place this tag where you want the button to render. -->
    <a class="github-button" href="https://github.com/netbootxyz/netboot.xyz" data-icon="octicon-star" data-show-count="true" aria-label="Star netbootxyz/netboot.xyz on GitHub">Star</a>

    <!-- Place this tag where you want the button to render. -->
    <a class="github-button" href="https://github.com/netbootxyz/netboot.xyz/fork" data-icon="octicon-repo-forked" data-show-count="true" aria-label="Fork netbootxyz/netboot.xyz on GitHub">Fork</a>

    <p><a href="https://opencollective.com/netbootxyz/donate" target="_blank">
      <img src="https://opencollective.com/netbootxyz/donate/button@2x.png?color=blue" width=200 />
    </a></p>

    <p>© 2019 <a href="https://twitter.com/@ntonym">Antony Messerli</a></p>
</center>
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>

{{ template "_internal/google_analytics.html" . }}

