<center>
    <!-- Place this tag where you want the button to render. -->
    <a class="github-button" href="https://github.com/antonym/netboot.xyz" data-icon="octicon-star" data-show-count="true" aria-label="Star antonym/netboot.xyz on GitHub">Star</a>

    <!-- Place this tag where you want the button to render. -->
    <a class="github-button" href="https://github.com/antonym/netboot.xyz/fork" data-icon="octicon-repo-forked" data-show-count="true" aria-label="Fork antonym/netboot.xyz on GitHub">Fork</a>

    <p>© 2019 <a href="https://twitter.com/@ntonym">Antony Messerli</a></p>
</center>
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>

{{ template "_internal/google_analytics.html" . }}

